/*文章块*/
body{
	background-color: #e8e8e8;
	width:100%;
    /*background-image: url('images/bg2.png');*/
}
	#content
	{
		width: 75%;
		position: absolute;
		top:0;
		left: 14em;
		background-color: #fff;
	}
	
	#content:after
	{
		content: '';
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('images/bg2.png');
		opacity: 0.5;
	}

#content-inner
{
	position: relative;
	z-index: 1;
}